h1 {
    color: orange;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 14px ;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}